<ion-list mode="ios" inset="true">
  <ion-list-header>
    <ion-label>Projects</ion-label>
  </ion-list-header>
  <ion-item (click)="toKapaplaner()">
    <ion-label>Kapazitätsplaner <ion-icon name="arrow-forward-outline"></ion-icon></ion-label>
  </ion-item>
  <ion-item (click)="toGianFederspiel()">
    <ion-label>gianfederspiel.ch <ion-icon name="arrow-forward-outline"></ion-icon></ion-label>
  </ion-item>
  <ion-item (click)="toGFArchive()">
    <ion-label class="">GF Archive <p class="ion-text-end">Repository</p></ion-label>
  </ion-item>
</ion-list>
