<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="icon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">
  <title></title>
</head>
<body>
  <div class="card">
    <img class="profile" src="assets/profile.png"><br>
    <img class="logo" src="assets/logo.png"><br>
    <div class="smLinks">
      <img (click)="toInstagram()" src="assets/logo-instagram.svg">
      <img (click)="toGithub()" src="assets/logo-github.svg">
      <img (click)="toLinkedIn()" src="assets/logo-linkedin.svg">
    </div>
    <p>apprentice softwaredeveloper</p>
  </div>
</body>
<router-outlet></router-outlet>


