<!DOCTYPE html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/x-icon" href="icon.ico">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Secular+One&display=swap" rel="stylesheet">
  <title></title>
</head>
<body>
  <ion-slides slidesPerView="3" mode="ios" pager="ios" scrollbar="ios" effect="slide" >
    <ion-slide>
      <div class="card">
        <ion-icon style="font-size: 30px;" (click)="onReload()" name="refresh-outline"></ion-icon>
        <ion-img class="profile" [src]="picUrl"></ion-img>
        <img class="logo" src="assets/logo.png"><br>
        <div class="smLinks">
          <ion-icon (click)="toInstagram()" name="logo-instagram"></ion-icon>
          <ion-icon (click)="toGithub()" name="logo-github"></ion-icon>
          <ion-icon (click)="toLinkedIn()" name="logo-linkedin"></ion-icon>
        </div>
      </div>
    </ion-slide>

    <!-- Slide -->

    <ion-slide class="projects">
      <div class="projectsHeader">
        <h1>Me</h1>
      </div>

      <!-- About -->
      <ion-list mode="ios" inset="true">
        <ion-list-header>
          <ion-label>About</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label><ion-icon name="man-outline"></ion-icon> 18 Years</ion-label>
        </ion-item>
        <ion-item>
          <ion-label><ion-icon name="pin-outline"></ion-icon> Lucerne, Nottwil</ion-label>
        </ion-item>
        <ion-item>
          <ion-label><ion-icon name="code-outline"></ion-icon> Apprentice Software Developer</ion-label>
        </ion-item>
      </ion-list>

      <!-- Projects -->
      <ion-list mode="ios" inset="true">
        <ion-list-header>
          <ion-label>Projects</ion-label>
        </ion-list-header>
        <ion-item (click)="toKapaplaner()">
          <ion-label>Kapazitätsplaner <ion-icon name="arrow-forward-outline"></ion-icon></ion-label>
        </ion-item>
        <ion-item (click)="toGianFederspiel()">
          <ion-label>gianfederspiel.ch <ion-icon name="arrow-forward-outline"></ion-icon></ion-label>
        </ion-item>
        <ion-item (click)="toGamelauncher()">
          <ion-label>Gamelauncher <ion-icon name="arrow-forward-outline"></ion-icon></ion-label>
        </ion-item>
      </ion-list>

      <!-- Contact -->
      <ion-fab vertical="top" horizontal="end" slot="fixed">
        <ion-fab-button (click)="toMail()" color="dark">
          <ion-icon name="mail-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-slide>
  </ion-slides>

</body>
<router-outlet></router-outlet>


