* {
    box-sizing: border-box;
  }
body{
    font-family: 'Secular One', sans-serif;
    display: flex;
}
.card{
    margin: auto;
    text-align: center;
}
.logo{
    width: 400px;
}
.profile{
    height: 330px;
}
.smLinks img{
    margin: 5px;
    height: 50px;
}
.card p{
  margin-top: 0;
  font-size: 24px;
}
.projects{
  display: block;
}
.projectsHeader{
  margin-top: 5%;
  display: flex;
}

@media only screen and (max-width: 450px) {
  .logo{
    width: 300px;
  }
  .profile{
    height: 250px;
  }
  .smLinks img{
    height: 40px;
    margin: 4px;
  }
  .card p{
    font-size: 19px;
  }
}



