* {
    box-sizing: border-box;
  }
body{
    font-family: 'Secular One', sans-serif;
    display: flex;
}
body .card{
    margin: auto;
    text-align: center;
}
body .logo{
    width: 400px;
}
body .profile{
    height: 330px;
}
body .smLinks img{
    margin: 5px;
    width: 50px;
}
body .card p{
  font-size: 24px;
}

@media only screen and (max-width: 450px) {
  body .logo{
    width: 300px;
  }
  body .profile{
    height: 250px;
  }
  body .smLinks img{
    width: 40px;
    margin: 4px;
  }
  body .card p{
    font-size: 19px;
  }
}



